.parent{
    border: 5px soloid;
    margin: auto;
    width: 50%;
    margin-top: 200px;
    height:250px;
    
    padding: 10px;
    background-color:aliceblue ;
}

.registerClass{
    margin: auto;
    padding: 10px;
    background-color:cadetblue;
    
}

.loginClass{
    margin: auto;
    padding: 10px;
    height:200px;
    background-color:cornflowerblue;
}